{% extends "finalProject_app/base_template.html" %}

{% block content %}
    <h1>Work Orders</h1>
    <a class="btn btn-primary" href="{% url 'work-create' %}">Create Work Order</a>
    {% if workorders_list %}
        <ul>
            {% for work in workorders_list %}
                <li>
                    <a class="nav-link" href="{{ work.get_absolute_url }}">{{ work.name }}</a>
                    <a class="btn btn-secondary" href="{% url 'work-edit' pk=work.id %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'work-delete' pk=work.id %}">Remove</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no work orders registered.</p>
    {% endif %}
{% endblock %}
